<div class="login-container">

    <form action="/connexion" class="login-form" method="POST">
        <div class="profile-pic"></div>
        <input type="email" name="email" placeholder="E-mail" required>
        <input type="password" name="password" placeholder="Mot de passe" required>
        <!-- 
        <button type="submit" class="button">Se connecter</button>
        -->
        <input type="submit" class="button" value="se connecter">
        <div class="additional-links">
            <a href="inscription" class="link" type="button">S'inscrire</a>
            <a href="mdp_oublie" type="button" class="link">Mot de passe oublié</a>
        </div>
    </form>
    
</div>
<script src="/js/script.js"></script>

