<h1>Inscription</h1>
    <p>Informations personnelles</p>
    <section>
        <form action="/inscription" method="POST">
            <label for="nom"></label>
            <input type="text" name="nom" id="nom" size="100" placeholder="Nom" required>
            <br><br>
            <label for="prenom"></label>
            <input type="text" name="prenom" id="prenom" size="100" placeholder="Prénom" required>
            <br><br>
            <label for="email"></label>
            <input type="text" name="email" id="mail" size="100" placeholder="E-mail" required>
            <br><br>
            <label for="num_tel"></label>
            <input type="tel" id="num_tel" name="num_tel" size="100" placeholder="N°téléphone">
            <br><br>
            <label for="mdp"></label>
            <input type="password" id="mdp" name="password" size="100" placeholder="Mot de passe" required>
            <br><br>
            <input type="submit" value="Confirmer" class="button">
        </form>
    </section>
    <br>