
    <body>
        <div class="mdp">
            <p><img src="/images/Sans_titre-removebg-preview.png" alt="photo de profile" width="150" height="150"></p>
            <section>
                <label for="mail">Veuillez renseigner votre mail :</label>
                <br><br>
                <input type="text" name="mail" id="mail" size="50" placeholder="prenom@gmail.com">
                <br>
            </section>
            <br>
            <nav>
                <input type="reset"value="S'inscrire"/>
                <input type="submit" value="Valider"/>
            </nav>
        </div>
    </body>
