<body>
    <h1>Profil</h1>
    <p>Modifier vos informations</p>
    <section>
        <fieldset>
            <label for="nom"></label>
            <input type="text" name="nom" id="nom" size="100" placeholder="Nom" required>
            <br><br>
            <label for="prenom"></label>
            <input type="text" name="prenom" id="prenom" size="100" placeholder="Prénom" required>
            <br><br>
            <label for="email"></label>
            <input type="text" name="email" id="mail" size="100" placeholder="E-mail" required>
            <br><br>
            <label for="phone"></label>
            <input type="tel" id="phone" name="phone" size="100" placeholder="N°téléphone">
        </fieldset>
    </section>
    <br>
    <nav>
        <input type="submit" value="Confirmer">
    </nav>
</body>